{% extends "base.html" %}
{% load staticfiles %}

{% block following_content %}
<div class="section" id="following-container">
	<h2>Following</h2>
	{% if following_list %}
	<ol>
		{% for topic in following_list %}
		<li>
			<a href="{% url 'topics:detail' topic.id%}">{{ topic.topic_name }}</a>
		</li>
			<button class="btn btn-sm btn-default add-resource" id= "add-resource-btn-{{topic.id}}" data-topicid="{{ topic.id }}">Add Resource</button>	

		<div class="reply-resource-form" id="resource-form-{{topic.id}}"></div>

		{% endfor %}

	</ol>
	{% else %}
	<div class="alert alert-info" role="alert">
		<strong>You are currently not following any topic!</strong>
		<br>
		<strong>Start following <a href="{% url 'topics:index' %}">here</a>!</strong>

	</div>

	{% endif %}
</div>

{% endblock %}
