{% extends "base.html" %}
{% load staticfiles %}



{% block content%}

<div class="section" id="topic-index-container">
	{% if topics_list %}
	<ul>

	{% for topic in topics_list%}

	<li id="index-topic-name" ><a href="{% url 'topics:detail' topic.id %}">{{ topic.topic_name }}</a></li>
	<p>Description: {{ topic.description }}</p>

	<!-- Check if user is authenticated and not follows topic -->
	{% if user.is_authenticated %}

	<button class="follow-btn" id="follow-btn" data-topicid="{{ topic.id }}" type="button">Follow</button>
	{% else %}

	
	{% endif %}
	{% endfor %}

	</ul>

	{% else %}

	<p>No topics available</p>

	{% endif %}	

</div>


{% endblock %}
