<div class="add-resource-container" >
	<form method='POST'>{% csrf_token %}

	  	<div class="form-group">
  			<label>{{form.resource_type.label}}</label>
  			<input class="form-control" id="id_resource_type" name="resource_type" type="resource_type" placeholder='Resource type (e.g. Photo, Article, Paper, etc.)'>
  		</div>
	  	<div class="form-group">
  			<label>{{form.resource_name.label}}
  			</label>
  			<input class="form-control" id="id_resource_name" name="resource_name" type="resource_name" placeholder="{{form.resource_name.label}}">
  			
  		</div>	
  		<div class="form-group">
  			<label>{{form.url.label}}</label>
  			<input class="form-control" id="id_url" name="url" type="url" placeholder='Link where the resource can be found'>
  		</div>
  		<div class="form-group">
  			<label>{{form.description.label}}</label>
  			<input class="form-control" id="id_description" name="description" type="text" placeholder='Brief description of the resource (e.g. This is an article about ...)'>
  		</div>

  			  	
  	<input class="btn btn-default" type='submit' value="Add Resource"/>
	</form>	
</div>


